<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <div class="user-panel">
            {% if session['logged'] %}
                <a href="{{ url_for('logout') }}" id="logout">Sign out</a>
                <label for="user-id">
                <input id="user-id" name='user-id' value='{{ session["id"] }}' hidden /> Welcome on your panel,<strong> {{ session['user'] }}</strong>
                </label>
            {% else %}
                <a href="{{ url_for('register') }}" id="registration">Sign up</a>
                <a href="{{ url_for('login') }}" id="login">Sign in</a>
                <label for="user-id">
                <input id="user-id" name='user-id' value='false' hidden />
                </label>
            {% endif %}
            <input type="button" id="refresh-button" onclick="location.reload()" value="Refresh page">
        </div>
        <div class="add-board">
            {% if session['logged'] %}
                <input id="add-board-box" type="button" value="Create new private board">
            {% else %}
                <input id="add-board-box" type="button" value="Create new board">
            {% endif %}
        </div>
        <div id="root">
        </div>
    </body>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</html>
